<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOOPS - Play | Pause | Repeat</title>
    <link rel="stylesheet/less" href="static/css/style.less" />
    <script type="text/javascript" src="static/js/less.js"></script>
<link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div id="sidebar">
            <div id="logo">
                <h1>L
                <img src="/static/img/vinyl2.png" />
                <img src="/static/img/vinyl2.png" />
                PS
                </h1>
                <span class=tagline>play | pause | repeat </span>
            </div>

            <div id="controls">
                <audio id="loopplayer" src="#"></audio>
                <ul class="buttons">
                    <li class="prev"></li>
                    <li class="pause play"></li>
                    <li class="next"></li>
                </ul>
            </div>

        {% block sidebar %}
        {% endblock %}
        </div>
        
        <div id="main">
            <div class="masthead">
                <h1>Welcome to LOOPS</h1>
                <h3>Pick a track and start listening</h3>
                <ul class="credits">
                    <a href="#">About</a> | <a href="#">Keyboard Shortcuts</a></li>
                </ul>
            </div>
            {% block main %}
            {% endblock %}
        </div>

    </div>
<script src="static/js/jquery.js"></script>
<script src="static/js/handlebars.js"></script>
<script src="static/js/mousetrap.min.js"></script>
<script src="static/js/custom.js"></script>
<script type="text/javascript">
    (function(){
        var setHeight = function() {
            $('#main').css("min-height", window.innerHeight);
            $('.masthead').css("margin-top", window.innerHeight/2 - 100);
        };
        setHeight();
        $(window).on('resize', function(){
            setHeight();
        });
    })();
</script>
</body>
</html>
